# Ignore node_modules folder
node_modules/

# Ignore dist folder
dist/

# Ignore system files and caches
.DS_Store
Thumbs.db

# Ignore environment files (for security reasons)
.env
.env.local
.env.*.local

# Ignore other typical development-related files
.vscode/
.idea/